.toast-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000099;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.toast {
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px;
    box-shadow: 0 0 6px #00000022;
}


@media (prefers-color-scheme: dark) {
    .toast-mask {
        background-color: #FFFFFF35;
    }

    .toast {
        background-color: #000000;
    }
}


@media screen and (max-width: 650px) {
    .toast {
        width: 40%;
    }
}


@media screen and (max-width: 450px) {
    .toast {
        width: 50%;
    }
}